version: '3.8'

services:
  worker:
    build:
      context: ./worker
    ports:
      - "50052:50052"
    environment:
      - PORT=50052

  loadgen:
    build:
      context: ./loadgen
    depends_on:
      - worker
